/*Global styles*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF; /*White*/
    color: #2E2F42; /*Navy Blue*/
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

ul{
    list-style: none;
}

/*Header*/
.navigation-link, .navigation-link-studio{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navigation-link:hover {
    color: #404BBF;
}

.navigation-link:focus {
    color: #404BBF;
}

.navigation-link-studio:hover{
    color: #404BBF;
}

.navigation-link-studio:focus{
    color: #404BBF;
}

.navigation-link-studio:active {
    text-decoration: underline;
    color: #404BBF;
}

.nav-address-link{
    font-style: normal;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-address-link:hover{
    color: #404BBF;
}

.nav-address-link:focus{
    color: #404BBF;
}

/*Main page*/
.main-page{
    background-color: #2E2F42;
}

.main-page-title{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.main-page-button{
    background-color: #4D5AE5;
    cursor: pointer;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
}

.main-page-button:hover{
    background-color: #404BBF;
}

.main-page-button:focus{
    background-color: #404BBF;
}

/*Our Features*/
.our-features-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.our-features-main-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-features-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

/*Our Team*/
.our-team{
    background-color: #F4F4FD;
}

.our-team-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
}

.our-team-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.our-team-element{
    background-color: #FFFFFF;
}

.our-team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

/*Our Portfolio*/
.our-portfolio-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.our-portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-portfolio-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

/*Footer*/
.page-footer{
    background-color: #2E2F42;
}

.page-footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

/*Logo*/
.footer-logo{
    color: #F4F4FD;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-decoration: none;
    line-height: 1.167;
}

.logo{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2E2F42;
}

.logo-web{
    color: #4D5AE5;
    text-decoration: none;
    line-height: 1.167;
}